*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.wrapper{
    width:100vw;
    height:100vh;
    background-color: #f4d04e;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:41.7rem;
    height:52.1rem;
    background-color: #ffffff;
    box-shadow: 0.8rem 0.8rem 0rem #000000;
    border: 0.1rem solid #111111;
    border-radius:2.0rem;
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: start;
   gap:2.4rem;
   padding:2.4rem 2.4rem;
}
.description{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:1.2rem;
}
.container > img{
    width:100%;
    border-radius: 1.0rem;
}
#learn{
    background-color: #f4d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree';
font-style: normal;
font-weight: 800;
font-size: 1.4rem;
line-height: 150%;
color: #111111;
    border-radius: 0.4rem;
    padding:0.4rem 1.2rem;
}
.footer{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap:1.2rem;
}
.footer > img{
    width:3.2rem;
    height:3.2rem;
}
#item-2{
    font-family: 'Figtree';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #111111;
}
#item-3{
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 150%;
    color: #111111;
    cursor:pointer;
}
#item-4{
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: #7F7F7F;
}
.footer > h5{
    font-family: 'Figtree';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 150%;
color: #111111;
}
#item-3:active{
    font-family: 'Figtree';
font-style: normal;
font-weight: 800;
font-size: 2.4rem;
line-height: 150%;
color: #f4d04e;
cursor:pointer;
}
.container:has(#item-3:active){
    width:41.7rem;
    height:52.1rem;
    background-color: #ffffff;
    box-shadow: 1.6rem 1.6rem 0rem #000000;
    border: 0.1rem solid #111111;
    border-radius:2.0rem;
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: start;
   gap:2.4rem;
   padding:2.4rem 2.4rem;
}
@media (max-width:480px){
    .container{
        width:32.7rem;
        height:50.1rem;
    }
}


